<div class="jumbotron">
  <h1>About!</h1>
  <p>This is about the project!</p>
</div>

<div class="row">
  <div class="col-xs-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Features</h3>
      </div>
      <div class="panel-body">
        <ul>
          <li>Google Authentication</li>
          <li>MongoDB storage</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Frontend</h3>
      </div>
      <div class="panel-body">
        <ul>
          <li><a href="http://getbootstrap.com/">Bootstrap</a> 3.2.0</li>
          <li><a href="https://docs.angularjs.org/api">Angular</a> 1.2.25</li>
          <ul>
            <li><a href="https://docs.angularjs.org/api/ngCookies">Cookies</a></li>
            <li><a href="https://github.com/angular-ui/bootstrap">Bootstrap</a></li>
            <li><a href="https://docs.angularjs.org/api/ngRoute">Route</a></li>
          </ul>
          <li>RequireJS 2.1.15</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Backend</h3>
      </div>
      <div class="panel-body">
        <ul>
          <li><b>Admin tab</b> for settings</li>
        </ul>
      </div>
    </div>
  </div>
</div>
