<div class="row">
  <div class="col-xs-12">
    <h1>A working project</h1>
    <p>AngularJS and ExpressJS with Google Authentication project to start new projects.</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Features</h3>
      </div>
      <div class="panel-body">
        <ul>
          <li>Google Authentication</li>
          <li>MongoDB storage</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Authentication Flow</h3>
      </div>
      <div class="panel-body">
        <ul>
          <li>By default accounts are auto approved.</li>
          <li>The system settings can disable the auto approval</li>
          <li>First account can change everything (admin role)</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Next Steps</h3>
      </div>
      <div class="panel-body">
        <ul>
          <li><b>Admin tab</b> for settings</li>
          <li><b>Admin settings</b> to change the <i>Auto approved users</i></li>
          <li><b>Users API</b> with <i>update</i></li>
          <li><b>Users API</b> with <i>delete</i></li>
          <li><b>Users model</b> with <i>Active</i> field</li>
          <li><b>Users model</b> with <i>Approved</i> field</li>
          <li><b>Users model</b> with only one <i>email</i></li>
          <li><b>Users</b> created with <i>Approved false</i></li>
          <li><b>User settings</b> page created</li>
          <li><b>User settings</b> to change <i>display name</i></li>
          <li>Change <b>user</b> to <b>account</b></li>
        </ul>
      </div>
    </div>
  </div>
</div>
